.onePage {
    display: flex;
}

.onePageContainer{
    flex: 6;
    border: 10px;
}

.onePageContent{
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    background-color: #FFC107;
    text-align: center;
}

h5 .textAlignCenter{
    text-align: center;
}

.ListTransferContent{
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff;
    cursor: pointer;
    justify-content: center;
    height: 65px;
}

.withPadding{
    padding: 15px;
}

