@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  position: sticky;
  top: 0;
  overflow-x: hidden;
  background-color: #467FD0;
  height: 100vh;
  width: 350px;
  z-index: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menubar-brand {
  border-top-right-radius: 10px;
  background-color: #4B91F4;
  padding: 1rem;
}

.menubar-brand h2 {
  color: #fff;
}

.menubar-list {
  padding: 1rem;
}

.nav .nav-link {
  color: #fff;
  padding: 1rem;
  text-align: left;
}

.nav .nav-link:hover,
.nav-active {
  background-color: rgba(162, 192, 234, 0.5);
  color: #fff;
  border-radius: 20px;
}

.nav .menubar-list svg {
  padding-right: 1rem;
}

.nav .menubar-user {
  background-color: #4B91F4;
  color: #fff;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 350px;
  border-bottom-right-radius: 10px;
}

.nav .menubar-user .d-flex {
  align-items: center;
  text-align: left;
}
.nav .menubar-user svg {
  font-size: 2rem;
}

.nav .menubar-user .user-summary {
  padding-left: 1rem;
}

.content {
  width: 100%;
  z-index: 1;
  padding: 1rem 3rem;
}

.product-list {
  display: flex;
}

.product-list div {
  gap: 3.5rem;
}

.product-card {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.02),
    0 8px 8px rgba(0, 0, 0, 0.03), 0 18px 18px rgba(0, 0, 0, 0.04),
    0 28px 28px rgba(0, 0, 0, 0.05), 0 38px 38px rgba(0, 0, 0, 0.06);
  transition: all ease 0.5s;
  border-radius: 8px;
  height: 50vh;
  padding: 0 !important;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 576px) and (max-width: 767px){
  .product-card {
    height: 48vh;
  }
  .product-card .product-thumbnail {
    height: 20vh !important;
  }
  .product-thumbnail img {
    height: 18vh !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .product-card {
    height: 32vh;
  }
  .product-card .product-thumbnail {
    height: 14vh !important;
  }
  .product-thumbnail img {
    height: 12vh !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .product-card {
    height: 35vh;
  }
  .product-card .product-thumbnail {
    height: 16vh !important;
  }
  .product-thumbnail img {
    height: 14vh !important;
  }

}

@media screen and (min-width: 1200px) and (max-width: 1399px){
  .product-card {
    height: 36vh;
  }
  .product-card .product-thumbnail {
    height: 18vh !important;
  }
  .product-thumbnail img {
    height: 16vh !important;
  }

}

@media screen and (min-width: 1400px) {
  .product-card {
    height: 41vh;
  }

}

.product-card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
  color: black;
  text-decoration: none;
}

.product-card .product-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #FFC107;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 23vh;
}

.product-thumbnail img {
  flex-shrink: 0;
  height: 20vh;
  overflow: hidden;
}

.product-summary {
  padding: 1rem;
  padding-bottom: 0;
}

.product-summary h3 {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.product-description {
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-price {
  font-weight: 800;
  font-size: 21px;
}

.chart-product {
  background-color: #d9d9d9;
  border-radius: 20px;
  align-items: center;
}

.chart-product .chart-product-thumbnail {
  background-color: #FFC107;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.chart-product .chart-product-thumbnail img {
  flex-shrink: 0;
  width: 50%;
}

.chart-product .chart-product-summary {
  padding: 1rem;
}

.chart-product-action {
  padding: 0 !important;
  color: #fff;
  background-color: #d9534f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-product-action svg {
  font-size: 100px;
}

.chart-product .btn {
  border-radius: 10px !important;
}

input.input-stock {
  background-color : transparent;
  border-bottom: 1px solid gray;
  border-top: none;
}

input#formProductDesc {
  width: 200px;
  display: inline-flex;
  margin: 0 .5rem;
}

.search-product {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 1rem 0;
  width: 100%;
}